@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(56, 56, 56);
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    background-color: black;
    color: #ebe41e;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(255, 255, 255);
    
}
.button:hover {
    background-color: #ebe41e;
    color: black;
    cursor: pointer;
}
.button:active{
    background-color: #171a1b;
    color: #ebe41e;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.input{
    box-shadow: 3px 3px 5px black;
}